ion-card {
  margin: 10px;
}

ion-card-title {
  font-weight: bold;
  font-size: 18px;
  color: #9bc0f8;
}

ion-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: cadetblue;
}

