ion-list {
  margin: 20px;
}

ion-item {
  font-size: 18px;
  font-weight: bold;
}

ion-button {
  margin: 20px;
}

.facebook {
  color: #3b5998;

  ion-icon {
    color: #3b5998;
  }
}

.instagram {
  color: #e1306c;

  ion-icon {
    color: #e1306c;
  }
}

.twitter {
  color: #1da1f2;

  ion-icon {
    color: #1da1f2;
  }
}

.youtube {
  color: #ff0000;

  ion-icon {
    color: #ff0000;
  }
}
