<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Políticas da Privacidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="privacy-content">
    <h2>Políticas de Privacidade</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam
      dui ac justo aliquet, non eleifend risus venenatis. Vestibulum
      ullamcorper felis vitae metus ultricies, vel congue elit condimentum.
      Vivamus vestibulum ligula nec dui sagittis, in tempus ligula hendrerit.
      Nullam scelerisque, elit ac volutpat volutpat, turpis metus euismod
      lectus, quis tristique justo tortor id lectus. Nulla facilisi.
    </p>
    <p>
      Integer venenatis justo nec odio vehicula, nec iaculis metus congue.
      Donec nec vestibulum ipsum. Integer vel justo euismod, ultrices libero
      in, scelerisque ex. Ut vel libero eu ligula laoreet facilisis.
      Suspendisse sed aliquet purus. Mauris ac nisl tincidunt, congue elit
      at, tincidunt ipsum. Maecenas eget tortor eu ligula ultricies
      ullamcorper.
    </p>
    <!-- Adicione mais parágrafos conforme necessário -->

    <h3>Coleta de Informações</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam
      dui ac justo aliquet, non eleifend risus venenatis. Vestibulum
      ullamcorper felis vitae metus ultricies, vel congue elit condimentum.
    </p>

    <h3>Uso de Informações</h3>
    <p>
      Integer venenatis justo nec odio vehicula, nec iaculis metus congue.
      Donec nec vestibulum ipsum. Integer vel justo euismod, ultrices libero
      in, scelerisque ex. Ut vel libero eu ligula laoreet facilisis.
    </p>
  </div>
</ion-content>
